.body {
  background-color:#ffffcc;
  -webkit-touch-callout: none; 	/* iOS Safari */
  -webkit-user-select: none; 	/* Safari */
  -khtml-user-select: none; 	/* Konqueror HTML */
  -moz-user-select: none; 	/* Old versions of Firefox */
  -ms-user-select: none; 	/* Internet Explorer/Edge */
  user-select: none;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-style: dashed;
  border-width: 3px;
  display: block;
  cursor: pointer;
  margin: 0px;
}

.circle:hover {
    transform: scale(1.1);
    transition: transform .1s;
}

.circles {
  margin-top: -200px;
  width: 54px;
  position: sticky;
  position: -webkit-sticky; 	/* Safari */
  top: 50%;
  height: 202px;
  z-index: 2;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.divider {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.circle#first {
  background-color: rgba(0, 0, 0, 0.9);
}

.circle#second {
  background-color: rgba(0, 60, 156, 1);
}

.circle#third {
  background-color: rgba(23, 90, 0, 1);
}

.first {
  padding: 10px;
  transition: transform .1s;
  width: 75%;
  color: rgba(0, 0, 0, 0.9);
  font-size: 110%;
  margin: 0 auto;
}

.first:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.second {
  padding: 10px;
  transition: transform .1s;
  color: rgba(0, 60, 156, 1);
  width: 75%;
  font-size: 110%;
  margin: 0 auto;
}

.second:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.third {
  padding: 10px;
  transition: transform .1s;
  color: rgba(23, 90, 0, 1);
  width: 75%;
  font-size: 110%;
  margin: 0 auto;
}

.third:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.32);
}

.swal-modal {
  background-color: #ffffcc;
}

.swal-text {
  font-family:Amiri;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}

.swal-icon {
  border-color: #729eb1;

}

.swal-icon--info:after,
.swal-icon--info:before {
  background-color: #729eb1;
}

.swal-button {
  background-color: #729eb1;
}

.swal-modal {
  box-shadow: 5px 10px 12px #222222;
}

#footer {
  text-align: right;
  font-size: 70%;
}
