.first {
  padding: 10px;
  transition: transform .1s;
  width: 75%;
  font-size: 110%;
  margin: 0 auto;
}

.first:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.second {
  padding: 10px;
  transition: transform .1s;
  color: blue;
  width: 75%;
  font-size: 110%;
  margin: 0 auto;
}

.second:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.third {
  padding: 10px;
  transition: transform .1s;
  color: green;
  width: 75%;
  font-size: 110%;
  margin: 0 auto;
}

.third:hover {
  transform: scale(1.01);
  cursor: pointer;
}

#footer {
  text-align: right;
  font-size: 70%;
}
